.cover {
    border-bottom: 1px solid #c0c0c0;
    margin: 3px;
}

.name {
    font-weight: bold;
    width: 8em;
}

#sub {
    background-color: lightcyan;
}

.sub {
    width: 8em;
    margin-left: 30px;
    background-color: lightcyan;
}

#date {
    background-color: lightgoldenrodyellow;
}

.date {
    width: 8em;
    margin-left: 30px;
    background-color: lightgoldenrodyellow;
}

#message {
    background-color: aliceblue;
}

.mes {
    margin-left: 30px;
    background-color: aliceblue;
}

#post {
    color: crimson;
}

#check {
    color: crimson;
}